doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='toastify/toastify.css')
        link(rel='stylesheet' href='stylesheets/index.css')
        link(rel='icon' href='images/logo.png')
        title Recuperar contraseña
    body
        if code === 200
            .container
                .myForm.px-4.bg-white
                    .text-center.mb-3
                        img.mt-3(src='images/logo.png' width=150)
                    .mb-5
                        label.form-label(for='nuevaContrasena') Nueva contraseña
                        input.form-control.input-style.text-secondary#nuevaContrasena(type='password' placeholder='Nueva contraseña' autocomplete='off')
                    button.btn.btn-iniciar-sesion.col-12.text-white.mb-3#btnActualizarPass(onclick='actualizarContrasena()') Actualizar contraseña
                    input#idUser(type='hidden' value=idUser)
            script(src='jquery/jquery-3.6.0.slim.min.js')
            script(src='axios/axios.min.js')
            script(src='toastify/toastify.js')
            script(src='javascripts/funcionesGenerales.js')
            script(src='javascripts/index.js')
        else
            .container
                .myForm.px-4.bg-white
                    .text-center.mb-3
                        img.mt-3(src='images/logo.png' width=150)
                    .text-center
                        p Oops, lo sentimos pero esta página ya no esta disponible.