@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}
.body-bg {
    background-color: #F1F3F6 !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.input-style {
    border-radius: 6px !important;
    border: 1px solid #BDBFC1;
}
.form-control:focus {
    border-color: #112940 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 156, 161, 0.1) !important;
    border: 1px solid #112940 !important;
}
.size-input-button {
    height: 45px !important;
}
.bg-azul {
    background-color: #004BFF !important;
}
.font-25 {
    font-size: 25px;
}
.font-20 {
    font-size: 20px;
}
.font-17 {
    font-size: 17px;
}
.font-16 {
    font-size: 16px !important;
}
.font-15 {
    font-size: 15px;
}
.size-off-canvas {
    width: 270px !important;
}
textarea {
    resize: none;
}
.menu-links:hover {
    background-color: #004BFF;
}
.bg-menu-link {
    background-color: #004BFF;
}
.text-truncate-table {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:1px;
}