@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}
.cursor-pointer {
    cursor: pointer;
}
.bg-negro-claro {
    background: linear-gradient(149.11deg, #253A4F 0%, #182F45 100%);
}
.bg-negro {
    background-color: #112940 !important;
}
.bg-negro-light {
    background: linear-gradient(149.11deg, #253A4F 0%, #182F45 100%);
}
.bg-verde {
    background-color: #1AA79C !important;
}
.input-style {
    border-radius: 3px;
    background-color: #2F455A;
    height: 49px;
    border: none;
}
.form-control:focus {
    border-color: #112940;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(50, 156, 161, 0.1);
    border: 1px solid #112940;
}
.size-input-button {
    height: 50px;
}
.font-20 {
    font-size: 20px;
}
.font-17 {
    font-size: 17px;
}
.font-15 {
    font-size: 15px;
}
.size-off-canvas {
    width: 270px !important;
}
.menu-links:hover {
    background-color: #1AA79C;
}
.bg-menu-link {
    background-color: #1AA79C;
}
textarea {
    resize: none;
}
.text-truncate-table {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:1px;
}