doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Contraseña actualizada
        style
            include ./style.css
    body.bg-body
        br
        br
        .bg-body-light.ps-15.pe-15.margin-email
            include ./header
            .row.mb-25
                .col-12.text-center
                    p.font-20.fw-bold.color-blanco
                        | ¡Hola #{user.name}!
                    p.font-16.color-blanco
                        | Nos complace informarte que tu contraseña ha sido actualizada con éxito.
                    br
        br