doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Olvide la contraseña
        style
            include ./style.css
    body.bg-body
        br
        br
        .bg-white.ps-15.pe-15.margin-email
            include ./header
            .row.mb-25
                .col-12.text-center
                    p.font-20.fw-bold
                        | ¡Hola #{name}!
                    p.font-16
                        | Recibimos una petición para la recuperación de su contraseña.
                        br
                        | Si fue usted por favor de click en el botón cambiar contraseña.
                    br
                    a.btn-enalce.fw-bold.color-blanco.text-center.bg-azul.font-16.pt-15(href=process.env.SERVER_URL + '/recuperar-contrasena?token=' + token)
                        | CAMBIAR CONTRASEÑA
                    br
                    p.font-16
                        | Si usted no solicito la recuperación de su contraseña
                        br
                        | por favor ignore este mensaje.
                    br
                    br
        br