doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
        link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='toastify/toastify.css')
        link(rel='stylesheet' href='stylesheets/style.css')
        link(rel='icon' href='images/logo.png')
        title Representaciones Artísticas
    body.body-bg(onhashchange='obtenerHash()')
        nav.navbar.navbar-expand-lg.bg-white.shadow-sm
            .container-fluid
                a.navbar-brand(data-bs-toggle='offcanvas' href='#offCanvasSidenav')
                    i.fa-solid.fa-bars.font-20.text-dark
                .d-flex
                    a.font-17.text-dark#nombreNavbar(data-bs-toggle='offcanvas' href='#offCanvasPerfil')
        .offcanvas.offcanvas-end#offCanvasPerfil(tabindex='-1')
            .offcanvas-body.bg-white.px-3
                .text-center.mb-5
                    img.rounded-circle.mt-3(src='images/logo.png' width=150 height=150)
                .mb-4
                    label.form-label(for='nombrePerfil') Nombre
                    input.form-control.input-style.text-secondary.size-input-button#nombrePerfil(type='text' placeholder='Nombre')
                .mb-5
                    label.form-label(for='emailPerfil') Correo
                    input.form-control.input-style.text-secondary.size-input-button#emailPerfil(type='text' placeholder='Correo')
                .mb-3
                    button.btn.bg-azul.col-12.text-white.size-input-button#btnActualizarPerfil(onclick='actualizarPerfil()') ACTUALIZAR
        .offcanvas.offcanvas-start.size-off-canvas#offCanvasSidenav(tabindex='-1')
            .offcanvas-body.bg-white
                .text-center.mb-4
                    img.rounded-circle.mt-3(src='images/logo.png' width=150 height=150)
                .row.cursor-pointer.py-2.mb-1.menu-links(data-bs-dismiss='offcanvas' onclick='location.hash = this.dataset.href' data-href='#generales' data-api='/generals/super-admin/render')
                    .col-3.text-center
                        i.fa-solid.fa-address-book.font-17.text-secondary
                    .col-9
                        span.font-15.text-secondary Generales
                .row.cursor-pointer.py-2.mb-1.menu-links(data-bs-dismiss='offcanvas' onclick='location.hash = this.dataset.href' data-href='#artistas' data-api='/artists/super-admin/render')
                    .col-3.text-center
                        i.fa-solid.fa-users.font-17.text-secondary
                    .col-9
                        span.font-15.text-secondary Artistas
                .row.cursor-pointer.py-2.mb-1.menu-links(data-bs-dismiss='offcanvas' onclick='location.hash = this.dataset.href' data-href='#multimedia' data-api='/multimedia/super-admin/render')
                    .col-3.text-center
                        i.fa-solid.fa-photo-film.font-17.text-secondary
                    .col-9
                        span.font-15.text-secondary Multimedia
                .row.cursor-pointer.py-2.mb-1.menu-links(data-bs-dismiss='offcanvas' onclick='location.hash = this.dataset.href' data-href='#cotizaciones' data-api='/quotations/super-admin/render')
                    .col-3.text-center
                        i.fa-solid.fa-dollar-sign.font-17.text-secondary
                    .col-9
                        span.font-15.text-secondary Cotizaciones
                .row.cursor-pointer.py-2.mb-1.menu-links(onclick='cerrarSesion()')
                    .col-3.text-center
                        i.fa-solid.fa-power-off.font-17.text-secondary
                    .col-9
                        span.font-15.text-secondary Cerrar Sesión
        #divContenido.container-fluid.mt-4
        .modal.fade#modalConfirmarEliminar(tabindex='-1' aria-hidden='true' data-bs-backdrop='static' data-bs-keyboard='false')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-body
                        .row
                            .col-12.text-center.mb-4
                                p.font-17.fw-bold#tituloEliminar
                            .col-12.text-center
                                button.btn.btn-danger.fw-bold.size-input-button.me-2#btnEliminarModal(data-bs-dismiss='modal')
                                    | ELIMINAR
                                button.btn.btn-secondary.fw-bold.size-input-button(data-bs-dismiss='modal')
                                    | CANCELAR
        script(src='jquery/jquery-3.6.0.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='bootstrapLightbox/index.bundle.min.js')
        script(src='axios/axios.min.js')
        script(src='toastify/toastify.js')
        script(src='sortablejs/Sortable.min.js')
        script(src='javascripts/funcionesGenerales.js')
        script(src='javascripts/superAdmin.js')